extends tex

priority 10



context "vim.current.buffer.name[:5] == '/tmp/'"
snippet mm "inline math (only used inside of /tmp/ for apy" wA
\($1\)$2
endsnippet


context "vim.current.buffer.name[:5] == '/tmp/'"
snippet mk "inline math (only used inside of /tmp/ for apy"
\[
$1
\]
endsnippet


context "vim.current.buffer.name[:5] == '/tmp/'"
snippet NN "New Note (only used inside of /tmp/ for apy"

# Note 

## Front
$1
## Back 
$2

endsnippet
